.grid-m,
.grid-xl,
.grid-xxl {
    display: grid !important;
    column-gap: 1rem;
    grid-auto-rows: min-content;
}

.grid-m,
.grid-xl,
.grid-xxl {grid-template-columns: repeat(6, 1fr);}
@media only screen and (min-width: 1024px) {
    .grid-xxl {grid-template-columns: repeat(12, 1fr);}
}