:root {
    --c-blue: #325AEB;
}


/* 
ELEMENTS
*/
img.icon {
    width: 3rem;
    height: auto;
}


/* 
MARGIN AND PADDING
*/
.margin {margin: 1rem;}
.margin-t {margin-top: 1rem;}
.margin-b {margin-bottom: 1rem;}

.padding {padding: 1rem;}
.padding-v {padding-top: 1rem; padding-bottom: 1rem;}
.padding-h {padding-right: 1rem; padding-left: 1rem;}


/* 
POSITIONS
*/
.p-fixed {position: fixed;}

.p-all {top: 0; left: 0; right: 0;}


/* 
DISPLAY
*/
.flex {display: flex !important;}
.j-between {justify-content: space-between;}


/* 
STATUS
*/
.hide {display: none;}
.hide-scrollbar::-webkit-scrollbar {display: none;}
.hide-scrollbar {-ms-overflow-style: none;scrollbar-width: none;}
.stop {overflow: hidden;}


.hide-m {display: none !important;}
.hide-m_t {display: none !important;}
.hide-m_d {display: none !important;}
@media only screen and (min-width: 768px) {
    .hide-t {display: none !important;}
    .hide-t_d {display: none !important;}
    .hide-m {display: unset !important;}
    .hide-m_d {display: unset !important;}
}
@media only screen and (min-width: 1024px) {
    .hide-d {display: none !important;}
    .hide-m_d {display: none !important;}
    .hide-m_t {display: unset !important;}
    .hide-t {display: inherit !important;}
}
.stop {overflow: hidden;}


@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {}
@media (hover: hover) {}