/*
Import typefaces
*/
@font-face {
    font-family: Europa Grotesk;
    src: url('../fonts/EuropaGroteskSH-Bol.otf');
    font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}

@font-face {
    font-family: ABC Gravity;
    src: url('../fonts/ABCGravity-Compressed-Trial.otf');
    font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}


/* 
Typography
*/
.t-cond {font-family: ABC Gravity;}
.t-cond::before {content: ""; display: table;}
.t-cond::after {content: ""; display: table;}

.t-cond.t-xlarge {
    font-size: 45vw;
    line-height: 104%;
    letter-spacing: -0.01em;
}
.t-cond.t-xlarge::before {margin-bottom: -3.75vw;}
.t-cond.t-xlarge::after {margin-top: -9.5vw;}

.t-grot {font-family: Europa Grotesk;}
.t-grot.t-small {
    font-size: 1.3333rem;
    line-height: 110%;
    letter-spacing: 0em;
}

/* 
Text Style 
*/
.t-uppercase {text-transform: uppercase;}
.t-lowercase {text-transform: lowercase;}
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-underline {text-decoration: underline;}