/*
Import typefaces
*/
@font-face {
    font-family: Europa Grotesk;
    src: url('../fonts/EuropaGroteskSH-Bol.otf');
    font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}

@font-face {
    font-family: ABC Gravity;
    src: url('../fonts/ABCGravity-Compressed-Trial.otf');
    font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}


/* 
Typography
*/
.t-cond {font-family: ABC Gravity;}
.t-cond::before {content: ""; display: table;}
.t-cond::after {content: ""; display: table;}

.t-cond.t-xlarge {
    font-size: calc(calc(calc(var(--vh) * 100) - calc(var(--headerHeightM) - var(--footerHeightM))) / 5);
    line-height: 110%;
    letter-spacing: -0.01em;
    overflow: hidden;
}
.t-cond.t-xlarge::before {margin-bottom: calc(var(--vh) * -2.5);}
.t-cond.t-xlarge::after {margin-top: calc(var(--vh) * -5);}
@media only screen and (min-width: 1024px) {
    .t-cond.t-xlarge {font-size: calc(calc(calc(100vh - calc(1rem - var(--footerHeightD))) / 4) - .5rem);}
    .t-cond.t-xlarge::before {margin-bottom: calc(var(--vh) * -3.5);}
    .t-cond.t-xlarge::after {margin-top: calc(var(--vh) * -6.5);}
}

.t-cond.t-large {
    font-size: 5rem;
    line-height: 78%;
}

.t-cond.t-body {
    font-size: 2.75rem;
    line-height: 83%;
    letter-spacing: 0.025em;
}
@media only screen and (min-width: 1024px) {
    .t-cond.t-body {font-size: 4rem;}
}

.t-grot {font-family: Europa Grotesk;}
.t-grot.t-small {
    font-size: 1.3333rem;
    line-height: 110%;
    letter-spacing: 0.05em;
}
@media only screen and (min-width: 1024px) {
    .t-grot.t-small {font-size: 1.5rem;}
}

/* 
Text Style 
*/
.k-text a {display: inline; text-decoration: underline !important;}

.t-uppercase {text-transform: uppercase;}
.t-lowercase {text-transform: lowercase;}
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-underline {text-decoration: underline !important;}
.t-through {text-decoration: line-through;}