/*
Import typefaces
*/
@font-face {
    font-family: Europa Grotesk;
    src: url('../fonts/EuropaGroteskSH-Bol.otf');
    font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}

@font-face {
    font-family: ABC Gravity;
    src: url('../fonts/ABCGravity-Compressed-Trial.otf');
    font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}


/* 
Typography
*/
.t-cond {
    font-family: ABC Gravity;
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: 0em;
}

.t-grot {
    font-family: Europa Grotesk;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0em;
}

/* 
Text Style 
*/
.t-uppercase {text-transform: uppercase;}
.t-lowercase {text-transform: lowercase;}
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-underline {text-decoration: underline;}