main>nav {
    position: sticky;
    top: calc(var(--headerHeightM) + 14.75vh + 1rem);
    z-index: 40;
}

@media only screen and (min-width: 1024px) {
    main>nav {
        top: calc(5vw + 2rem);
        margin-bottom: 4rem !important;
    }
    
    #page-title {
        margin-bottom: 0;
    }
}

/* 
GALLERY
*/
.fans_p-item > * {margin-bottom: auto;}
.fans_p-item {
    grid-column: span 3;
}

@media only screen and (min-width: 1024px) {
    .fans_p-item {
        grid-column: span 2;
    }
}