main>nav {position: relative; z-index: 40;}
@media only screen and (min-width: 1024px) {
    main>nav {
        margin-bottom: 2rem !important;
    }
}
/* 
OVERLAY
*/
#fans_p-overlay {
    background: black;
    z-index: 120;
}
@media only screen and (min-width: 1024px) {
    #fans_p-overlay {
        padding: 4rem calc(calc(100vw / 12) * 2);
    }
}
#fans_p-overlay[data-status='close'] {transform: translateX(100vw);}


/* Button */
#fans_p-overlay > button {
    top: 1rem;
    right: 1rem;
    rotate: 45deg;
    z-index: 20;
}


/* Element */
#fans_p-overlay > img,
#fans_p-overlay > video {
    max-height: 100%;
    object-fit: contain;
}

/* Nav */
#fans_p-overlay--nav {z-index: 10;}
#fans_p-overlay--nav > button {
    top: calc(var(--vh) * 50);
    transform: translateY(-50%);
    opacity: .5;
}

#fans_p-overlay--nav > button:nth-child(1) {left: 1rem;}
#fans_p-overlay--nav > button:nth-child(2) {right: 1rem;}