@media only screen and (min-width: 1024px) {
    main > nav {
        position: relative;
        margin-bottom: 2rem !important;
        z-index: 40;
    }
}
/* 
ITEM
*/
.news_p-item,
.news_p-item > * {grid-column: 1/-1;}