main>nav {position: relative; z-index: 40;}
@media only screen and (min-width: 1024px) {
    main > nav {margin-bottom: 2rem !important;}
}
/* 
ITEM
*/
.news_p-item,
.news_p-item > * {grid-column: 1/-1;}